*vault.yaml
*repo_vars.yaml
ubuntu/workstation/ubuntu_share/
ubuntu/server/ubuntu_share/
runc/runc_share/
rkt/rkt_share/
arch/arch_share/

fedora28/workstation/fedora_share/

rhel7/rhel_share/


#Used to store local commands
cmds

*.python-version
*.DS_Store
*.log
*.retry
*.vagrant/
